<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>작업 리스트 화면</title>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Moment -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
    <!-- tempusdominus datetimepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
    <!-- tempusdominus font-awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <main>
      <div class="container">
        <h4 class="mb-3">작업 추가</h4>
        <form class="needs-validation" novalidate>
          <div class="g-3">
            <div class="mb-3 col-6">
              <label for="title" class="form-label">제목<span class="text-muted"></span></label>
              <input id="title" type="text" class="form-control" placeholder="작업 제목을 입력하세요." required>
            </div>
            <div class="mb-3 col-6">
              <label for="memo" class="form-label">메모</label>
              <input id="memo" type="text" class="form-control" placeholder="작업에 대한 설명을 작성하세요." required>
            </div>
            <div class="mb-3 col-6">
              <label for="deadline" class="form-label">날짜</label>
              <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                <input id="deadline" type="text" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#datetimepicker"/>
              </div>
            </div>
          <hr class="col-6">
          <button id="buttonAddNewTask" class="btn btn-large btn-primary" type="submit">작업 추가</button>
        </form>
      </div>
    </main>
    <script type="text/javascript">
      // 작업 추가 버튼이 클릭된다면 실행
      $("#buttonAddNewTask").click(function() {
        // 작업 리스트 화면으로 이동
        var data = {
            title: $('#title').val(),
            memo: $('#memo').val(),
            deadline: new Date($('#deadline').val()).toISOString()
        }
        console.log(data)
        $.ajax({
            type: 'POST',
            url: '/api/v1/tasks',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data)
        }).done(function(data) {
            alert('작업 추가 완료');
            window.location.href = '/tasks';
        }).fail(function(error) {
            alert('작업 추가 오류' + JSON.stringify(error));
        })
        return false;
      });
      $(function () {
        $('#datetimepicker').datetimepicker({
          format: 'L'
        });
      });
    </script>
  </body>
</html>
